{{#each this}}
<li class="list-card">
    <div class="photo-card">
        <img src="{{webformatURL}}" data-source="{{largeImageURL}}" alt="" />


        <div class="stats">
            <p class="stats-item">
                <span class="material-icons">thumb_up</span>
                {{likes}}
            </p>
            <p class="stats-item">
                <span class="material-icons">visibility</span>
                {{views}}
            </p>
            <p class="stats-item">
                <span class="material-icons">comment</span>
                {{comments}}
            </p>
            <p class="stats-item">
                <span class="material-icons">cloud_download</span>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}